
<!DOCTYPE html>
<html lang="en">
    <title>introduction </title>

<body style="text-align: center; margin-top: 100px;">

	<form action="/add/" method="get" enctype="multiple/format-data">

             <!-- put the name of the album -->
          <div class="form-group">
            <input class="form-control" name="artist" placeholder="Your Artist Name">
           </div>&nbsp;&nbsp;&nbsp;&nbsp;

           <!-- put the name of the album title-->
           <div class="form-group">
            <input  class="form-control" name="album_title" placeholder="Your Album  title">
           </div>&nbsp;&nbsp;&nbsp;&nbsp;

           <div class="form-group">
            <input  class="form-control" name="genre" placeholder="Your Album genre">
           </div>&nbsp;&nbsp;&nbsp;&nbsp;

           <div class="form-group">
            <input  class="form-control" name="album_logo" placeholder="Add your album logo">
           </div>&nbsp;&nbsp;&nbsp;&nbsp;

          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Add to Albums">
         </div>
    </form>
</body>
</html>


